* {
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.space {
    width: 80px;
    height: 120px;
    background-color: black;
    border: 2px solid white;
}

.space-mid {
    width: 80px;
    height: 80px;
    background-color: black;
    border: 2px solid white;
}

.container {
    display: grid;
    grid-template-areas:
        "outsideleft-t insideleft-t main-t insideright-t outsiderigh-t"
        "outsideleft-b insideleft-b main-b insideright-b outsideright-b";
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.outside-left-top {
    grid-area: outsideleft-t;
    align-content: flex-end;
    justify-items: end;
}

.outside-left-bottom {
    grid-area: outsideleft-b;
}


.inside-left-top {
    grid-area: insideleft-t;
}

.inside-left-bottom {
    grid-area: insideleft-b;
}

.main-top {
    grid-area: main-t;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;

}

.main-bottom {
    grid-area: main-b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.inside-right-top {
    grid-area: insideright-t;
}

.inside-right-bottom {
    grid-area: insideright-b;
}

.outside-right-top {
    grid-area: outsiderigh-t;
}

.outside-right-bottom {
    grid-area: outsideright-b;
}