body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.side {
    background-color: #02FFC5;
    flex-grow: 1;
}

.second-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.top {
    background-color: #02FFFF;
    flex-grow: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    background-color: #CCCCCC;
    padding: 30px 30px 200px 30px;
    flex-grow: 3;
}

.main div {
    padding: 20px;
    margin: 0;
}

.rectangle {
    background-color: #ED028C;
    border: 2px solid #02FFC5;
}