/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.is-featured {
  display: block;
  border-radius: 0.75rem;
  box-shadow: 0 0 6px red, 0 8px 20px -4px red;
}